::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #FF7B7C;
    border-radius: 100px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #83E1E6;
    color: #152456;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4em;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    height: 100%;
    margin-right: auto;
    width: 10em;
    font-size: 1.2rem;
    margin-left: 5em;
    cursor: pointer;
}

a:link {
    text-decoration: none;
    color: #152456;
}

a:visited {
    text-decoration: none;
    color: #152456;
}

a:hover {
    text-decoration: none;
    color: #FF7B7C;
    scale: 110%;
}

a:active {
    text-decoration: none;
    color: #152456;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    height: 100%;
    width: 30em;
    margin-right: 2em;
}

.nav-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    height: 80%;
    cursor: pointer;
    margin-left: 1em;
}

.search-label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.burger {
    height: 70%;
}

.drop-down {
    position: absolute;
    top: 4em;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #83E1E6;
}

.drop-text {
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: auto;
    height: 4em;
    cursor: pointer;
    display: none;
}

.nav-text-burger {
    display: none;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 3em;
    border-color: #152456;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    margin-right: 1em;
}

.nav-text-burger:hover {
    border-color: #FF7B7C;
}

.banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.banner-img {
    width: 100%;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    text-align: left;
    margin-top: 4em;
    top: 0;
    padding-top: 8vw;
    padding-left: 5em;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 3em;
    margin: 0;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 2em;
    margin-bottom: 1em;

}

.btn-1 {
    height: 3em;
    font-size: 1em;
    background-color: #FF7B7C;
    border-color: transparent;
    margin-right: 1em;
    cursor: pointer;
    font-weight: 600;
    width: 10em;
    color: #152456;
}

.btn-1:hover {
    color: #FF7B7C;
    background-color: #152456;
    scale: 110%;
}

.btn-1.borders {
    border: 2px solid #152456;
}

.btn-2 {
    height: 3em;
    font-size: 1em;
    background-color: transparent;
    border: 2px solid #152456;
    margin-right: 1em;
    cursor: pointer;
    font-weight: 600;
    color: #152456;
}

.btn-2:hover {
    color: #FF7B7C;
    background-color: #152456;
    scale: 110%;
}

.mid-section {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subsection-mid {
    height: auto;
    margin: 3em;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-img {
    max-width: 100%;
}

.section-text-heading {
    margin-top: 1em;
    font-weight: 600;
    font-size: 1.2em;
}

.section-text {
    margin-top: 1em;
    font-weight: 400;
}

.lower-mid-section {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    width: 100%;
}

label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.4em;
    margin-bottom: 1em;
}

input[type="text"], [type="email"], [type="number"], [type="date"] {
    margin-top: 10px;
    width: 70%;
    height: 2em;
    background-color: #83E1E6;
    border: 2px solid #152456;
    border-radius: 5px;
}

input[type="text"]:focus {
    outline: 6px solid #FF7B7C;
}

input[type="email"]:focus {
    outline: 6px solid #FF7B7C;
}

input[type="number"]:focus {
    outline: 6px solid #FF7B7C;
}

input.orange:focus {
    outline: 6px solid #83E1E6;
}

input.light {
    background-color: #90D2CE;
}

input.search-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 10em;
    height: 2em;
    border: 2px solid #152456;
    border-radius: 5px;
    margin: 0;
}

.subsection-wrapper {
    background-color: #90D2CE;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subsection-wrapper-light {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subsection-wrapper-orange {
    background-color: #FF7B7C;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #152456;
}

.subsection-lower {
    height: auto;
    margin: 3em;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3.5em;
}

.subsection-img {
    max-width: 50%;
}

.subsection-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 50%;
}

.subsection-text-heading {
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 3em;
    text-align: left;
    width: 100%;

}

.subsection-text {
    margin-top: 1em;
    font-weight: 400;
    text-align: left;
    width: 100%;
    margin-bottom: 1em;
}

.bottom-section {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.featured-work {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: auto;
    margin: 3em;
}

.testimony {
    width: 100%;
    background-color: #90D2CE;
}

.testimony-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    margin: auto;
}

.individual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    height: auto;
    margin: 3em;
}

.individual-icon {
    border-radius: 50%;
    height: 5em;
}

.individual-text {
    font-size: 0.9em;
    margin-top: 1em;
    font-weight: 400;
    text-align: left;
    width: 100%;
    margin-bottom: 1em;
}

.work-wrapper {
    background-color: #FF7B7C;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #152456;
}

.work {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.work-text-heading {
    margin-bottom: 0.5em;
    font-weight: 600;
    font-size: 3em;
    width: 100%;
}

.work-text {
    margin-top: 1em;
    font-weight: 400;
    width: 100%;
    margin-bottom: 2em;
}

footer {
    width: 100%;
    height: 15vh;
}

.feedback {
    width: 100%;
    background-color: #90D2CE;
    height: 100%;
    margin: auto;
}

.feedback-text {
    text-align: left;
    font-size: 1.4em;
    padding-left: 2rem;
    padding-top: 2rem;
    font-weight: 600;
}

.feedback-subtext {
    text-align: left;
    padding-left: 2rem;
    padding-top: 1rem;
    font-weight: 400;
}

.login {
    color: black;
}

@media only screen and (max-width: 850px) {
    .nav-text-burger {
        display: flex;
    }

    .drop-text {
        display: flex;
    }

    h1 {
        font-size: 2.5em;
    }

    h6 {
        font-size: 0.9em;
    }

    .nav {
        display: none;
    }

    .mid-section {
        flex-direction: column;
    }

    .subsection-lower {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    .subsection-img {
        min-width: 100%;
    }

    .featured-work {
        flex-direction: column;
    }

    .testimony-container {
        flex-direction: column;
    }
}